# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

SQL est un langage informatique normalisé servant à exploiter des bases de données relationnelles.

C'est l'évolution de SQL qui tire le bénéfice des SGBDR et des SGBD objets.

SQL3 supporte bien sûr la norme précédente SQL2 (compatibilité ascendante) mais propose également des extensions objets.

SQL3 est donc à la fois : un langage de définition de types, un langage de programmation, un langage de requêtes, un langage temporel, ...

SQL3 permet de gérer des données complexes dans le cadre de SGBD objet-relationnel :

- Illustra, UniSQL, ODB II, Versant pour les nouveaux,

- Ingres, Oracle, DB2 UDB, Informix pour les SGBD Relationnels étendus (dits "universels").

<i>SQL3 est normalisé ANSI et le document de normalisation est découpé en 8 parties :</i>
1. Le <b>cadre ( Framework )</b> est une description non-technique de comment le document est structuré

2. Les <b>fondements (Foundation)</b> contient l'essentiel de SQL3 incluant les types de données abstraits et le modèle objet-relationnel

3. L'<b>interface d'appel client</b> `(SQL/CLI)` permet le dialogue client/serveur,

4. Le <b>langage des procédures stockées</b> `(SQL/PSM )` permet la spécification des procédures stockées,

5. L'<b>intégration aux langages classiques</b> `(SQL/Bindings)` reprend l' «embedded »SQL-2 et l'étend à SQL3

6. La <b>gestion des transactions</b> `(SQL/XA )` est une spécification de l'interface pour moniteur transactionnel distribué.

7. La <b>gestion du temps</b> `(SQL/Temporal )` définit le support du temps et les intervalles...

8. L'<b>accès aux données externes</b> `(SQL/MED)` permet l'utilisation de SQL pour accèder à ds données non SQL,

9. L'<b>intégration aux langages objets</b> `(SQL/OBJ )` définit l'utilisation de SQL depuis un langage objet

    (C++,Smalltalk ou Java).

<i>L'essentiel de SQL3 est contenu dans les fondements :
Etend le modèle relationnel grâce aux fonctionnalités orientées objet,</i>

- Supporte les types de données complexes définis par l'utilisateur,

- Etend le langage de requêtes,

- Intègre la gestion des déclencheurs (triggers).

**Source** : [Pairform](https://www.pairform.fr/doc/10/20/52/web/co/4_1__SQL3__c_est_quoi.html)

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est un système de base de données ou une bibliothèque proposant un moteur de base de données relationnelles. Il repose sur une écriture en C, un langage de programmation impératif, et sur une accessibilité via le langage SQL (Structured Query Language).

**Avantages:**
- SQLite présente la particularité d'être directement intégré aux programmes et dans l'application utilisant sa bibliothèque logicielle alors que ses - -concurrents comme MySQL reproduisent de leur côté le schéma classique client-serveur.
- Avec SQLite, la base de données est intégralement stockée dans un fichier indépendant du logiciel.

**Inconvénients:**
- écritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- pas de réplication(La réplication consiste à créer des copies d'un serveur de base de données MySQL de façon à pouvoir répartir la charge (load-balancing) et ainsi pouvoir répondre à de fortes demandes, sur les sites à grande audience (comme facebook par exemple)).

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

XML JAVA JSON CSV

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier de type binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

Les instructions SQL sont regroupées en catégories en fonction de leur utilité et des entités manipulées. Nous pouvons distinguer cinq catégories, qui permettent :

- la définition des éléments d'une base de données (tables, colonnes, clés, index, contraintes…),
- la manipulation des données (insertion, suppression, modification, extraction…),
- la gestion des droits d'accès aux données (acquisition et révocation des droits),
- la gestion des transactions,
- et enfin le SQL intégré.

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

``` SQL
SELECT count(*)
FROM summer;
```
Resultat: **31165**

L'exécution s'est terminée sans erreur.

Résultat : *1 enregistrements ramenés en 21ms*

À la ligne 1 :

SELECT count (*)
FROM summer

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

``` SQL
SELECT MIN(Year) AS min_year, 
    MAX(Year) AS max_year
FROM summer;
```
Resultat : **de 1896 à 2012**

L'exécution s'est terminée sans erreur.
    
Résultat : *1 enregistrements ramenés en 28ms*

À la ligne 1 :
    
SELECT MIN (Year) AS min_year, MAX (Year) as max_year
FROM summer

### Question 8: Indiquer les années et villes des olympiades ?

```sql
SELECT DISTINCT Year, City
FROM summer;
```
Resultat :

| Année | Ville |
| --- | --- |
| 1896  | Athens|
| 1900  | Paris |
| 1904 | St Louis |
|1908|London|
|1912|Stockhol
|1920|Antwerp|
|1924|Paris|
|1928|Amsterdam|
|1932|Los Angeles|
|1936|Berlin|
|1948|London|
|1952|Helsinki|
|1956|Melbourne / Stockholm|
|1960|Rome|
|1964|Tokyo|
|1968|Mexico|
|1972|Munich|
|1976|Montreal|
|1980|Moscow|
|1984|Los Angeles|
|1988|Seoul|
|1992|Barcelona|
|1996|Atlanta|
|2000|Sydney|
|2004|Athens|
|2008|Beijing|
|2012|London|

![P3-Q8](

---
# QUESTIONS J.O `(SQL)`

---
- **Q1 Combien la France a remporté de médaills d'or aux JO de 1984 ?**

*Réponse* :
```sql
SELECT count(*)
FROM summer
WHERE Year =1984 AND Country = 'FRA' AND Medal = 'Gold'
```

**21**

---
- **Q2 Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)**

*Réponse* : 
```sql
SELECT country, count(DISTINCT Athlete) as Total_athletes
FROM summer
GROUP BY Country
ORDER BY Total_athletes DESC;
```
*Correction* :
```sql
SELECT Country, count(DISTINCT Athlete)
FROM summer
GROUP BY Country
ORDER BY count(DISTINCT Athlete) DESC
LIMIT 1
```
**3149**

---
- **Q3 En 2012 combien de médailles le Japon a t-il gagné ? (Théo)**

*Réponse* :
```sql
SELECT count(Medal)
FROM summer
WHERE Year = 2012 AND Country = "JPN";
```
**84**

---
- **Q4 Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)**

*Réponse* Corrigé :
```sql
SELECT Sport, count(Medal)
FROM summer
WHERE Country = "GRE"
GROUP BY Sport
ORDER BY count(Medal) DESC
```
|Discpile|Nb Medailles|
|---|---|
|Athletics|29|
|Aquatics|22|
|Gymnastics|21|
|Weightlifting|15|
|Shooting1|4|
|Sailing|14|
|Wrestling|11|
|Rowing|6|
|Taekwondo|4|
|Fencing|4|
|Cycling|4|
|Tennis|2|
|Judo|2|

---
- **Q5 Quel pays a remporté le plus de médailles d’or ? (Philippe)**

*Réponse* :
```sql
SELECT Country, COUNT(Medal)
FROM summer
WHERE Medal = "Gold"
GROUP BY Country
ORDER BY COUNT(Medal) DESC
LIMIT 1;
```
**USA 2235**

*correction* :
```sql
SELECT Country AS Country, count(Medal) AS Medal
FROM summer
WHERE Medal = 'Gold'
GROUP BY Country
ORDER BY count(Medal) DESC
LIMIT 5
```
|Pays|Nb Médailles d'or|
|----|----|
|USA|2235|
|URS|838|
|GBR|546|
|ITA|476|
|GER|452|

---
- **Q6 Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)**

*Réponse* :
```sql
SELECT DISTINCT Year, City
FROM summer
WHERE Year BETWEEN '1896' AND '2012'
GROUP BY Year;
```
**3**

---
- **Q7 Combien de femmes ont obtenu une médaille d’or ? (Lamia)**

*Réponse* :
```sql
SELECT DISTINCT count(Gender)
FROM summer
WHERE Medal='Gold' and Gender='Women';
```
**31**

---
- **Q8 Combien de sports différents sont représentés par année ? (Joris)**

*Réponse* :
```sql
SELECT Year, COUNT(DISTINCT Sport)
FROM summer
GROUP BY Year;
```

---
- **Q9 Combien de fois Londres a accueilli les J.O ? (Marvin)**

*Réponse* :
```sql
SELECT DISTINCT Year, City
FROM summer
WHERE city='London'
```
**3**

---
- **Q10 Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)**

*Réponse* 1 :
```sql
SELECT COUNT(DISTINCT Athlete)
FROM summer
WHERE Year = 2012 AND Sport = "Volleyball" AND Country = "BRA" AND Medal = "Gold" AND Gender = "Women"
```
**12**

---
- **Q11 Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (Izak)**

*Réponse* :
```sql
SELECT DISTINCT count(Gender)AS nb_quantite
FROM summer
WHERE year ='2012' AND Gender ='Women' AND Country ='FRA'
GROUP BY Medal
ORDER BY nb_quantite DESC;
```
*Réponse* 2 :
```sql
SELECT Medal, count(DISTINCT Athlete) AS Athletes, count(Medal) AS Medals
FROM summer
WHERE Gender='Women' AND Country='FRA' AND Year=2012
GROUP BY Medal
```

---
- **Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? - (Mayel)**


*Réponse* :
```sql
SELECT athlete AS the_most_valuable_Athlete
FROM summer
WHERE Medal = 'Gold'
ORDER BY the_most_valuable_Athlete DESC
LIMIT 1
```

---
- Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (Jordan)


*Réponse* :
```sql

```

---
- Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (Jonathan)


*Réponse* :
```sql

```

---
- Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)


*Réponse* :
```sql

```

---
- Q16. Combien de femmes ont remporté des médailles ? (Alicia)


*Réponse* :
```sql

```

---
- Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)


*Réponse* :
```sql

```

### Question i:

---

Fin